@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
  }

  body {
    @apply bg-dark text-light font-opensans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-playfair;
  }
}

@layer utilities {
  /* Estilos personalizados para scrollbar */
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: rgba(27, 27, 27, 0.3);
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: rgba(199, 168, 109, 0.5);
    border-radius: 10px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: rgba(199, 168, 109, 0.7);
  }

  /* Para Firefox */
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: rgba(199, 168, 109, 0.5) rgba(27, 27, 27, 0.3);
  }
}
